*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@media (max-width:500px) {

    #im{
        position: relative;
        top: 30px;
        height: 190px;
        width: 250px;
        margin-left: 80px;
    }

    .div1{
   
        margin-top: -10px;
       display: block;
        position: absolute;
        top: 70px;
    }
    

    .allhero-cont-head{
   
        background-color: rgb(227, 238, 250);
        height: 100px;
        position: absolute;
        width: 300px;
        color: rgb(0, 0, 0);
       top: -80px;
        margin-top: 0px;
        font-size: 10px;
        
    
    }

    #heading{
        width: 350px;
    }

    .allhero-cont{
        position: relative;
        background-color: rgb(227, 238, 250);
        height: 1000px;
       top: 300px;
        display: block;
        color: black;
        font-size: x-small;
        width: 300px;
        left: -350px;
        
    
    }

    
    .allhero-cont-price{
   
        background-color: rgb(255, 255, 255);
        height: 100px;
        width: 400px;
        color: rgb(10, 40, 117);
        
     
        margin-top: 200px;
        font-size: 10px;
        
    
        
    
    }


    .allhero-cont-price h1{
      position: relative;
        top:6px;
       
         font-size: xx-small;
       
         font-weight: 300;
        color: rgb(10, 40, 117);
        left: -20px;
     }
     
     .allhero-cont-price i{
        position: relative;
         bottom: -7px;
        
         left: -15px;
         color: rgb(10, 40, 117);
      }


      .allhero-cont-price p{
        position: absolute;
        font-size: x-small;
        margin-left: 20px;
        top: 60px;
        color: rgb(10, 40, 117);
        font-weight: 400;
     }
    
    #p{
        position: relative;
        top: 1px;
        color: green;
    }



    .allhero-cont-price a{
        position: relative;
        top: -8px;

        font-size:1px;
    }

    
    #of1{
        font-size: 10px;
        position: relative;
        margin-top: 16px;
        color: rgb(81, 130, 178);
    }
   

    #of3{
        font-size: 10px;
      top: -4px;
        
        color: green;
    }

    #cheak-mark{
        color: green;
       
        position: relative;
        top: 1px;
        left: -130px;
    }


#cross{
    position: relative;
    top: 10px;
    width: 400px;
    height: 1px;
    background-color: rgb(154, 188, 216);
}

#cross2{
    position: relative;
   
    width: 400px;
    height: 0.3px;
    background-color: rgb(159, 189, 214);
}
    
    #top{
        color: rgb(52, 61, 63);
    }
    
}


@media (max-width:500px) {
    #ord1{
        margin-left: 60px;
        height: 40px;
        width: 230px;
        top: 100px;
        background-color: rgb(54, 130, 54);
    }

    #ord2{
        margin-left: 260px;
        width: 230px;
        height: 40px;
        background-color: rgb(0, 92, 128);

    }



    .ender{
       
        margin-top:10px;

        }
      
        .but{
            position: relative;
            top: 1400px;
        }
    

        #him{
            position: relative;
            top: 400px;
            
        }

        #many{
            width: 400px;
            height: 60px;
            text-align: center;
            background-color: rgb(25, 87, 114);
            color: rgb(255, 255, 255);
            font-size: large;
            font-family:cursive;
            position: absolute;
            top: 1000px;
            padding-top: 20px;
        }

        .p{
          top: 135px;
        }

        .cult{
            margin-top: 10px;
        }


        #m-ab-cont{
          display: block;
            justify-content: center;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-size: small;
            color: rgb(3, 35, 84);
          position: relative;
          left: 10px;
          top: 640px;
        
        }
        #preli{
            margin-left: 10px;
        }
        
        #m-pro{
            display: flex;
            justify-content: center;
            font-family:Arial, Helvetica, sans-serif;
            font-size: large;
            position: relative;
            top: 670px;
            margin-left: -180px;
        
        
        }

        

}



#of{
position: relative;

top: -10px;
    color: rgb(115, 163, 200);
}

#p{
    color: green;
}

#of2{
    position: relative;
    top: -10px;
    font-size: 10px;
    
    color: green;
}

#cheak-mark{
    color: green;
   
    position: relative;
    top: 1px;
    left: -130px;
}

#top{
    color: rgb(52, 61, 63);
}



.div1{
   
    margin-top: -10px;
    display: flex;
}


body{
    background-color: rgb(227, 238, 250);
}

.nav-baar{
    margin-top: 7px;
}

.end{
    background-color: rgb(219,240,249);
}


.but{
    position: relative;
    top: 940px;
}


.allhero{
    background-image: url(itema.jpg);
    height: 500px;
    width: 40%;
    background-size: cover;
    
    
    
}

.allhero-cont{
    
    background-color: rgb(227, 238, 250);
    height: 100px;
    width: 60%;
    display: block;
    color: black;


}

.allhero-cont-head{
   
    background-color: rgb(227, 238, 250);
    height: 100px;
    width: 100%;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    margin-top: 20px;

    

}
.hr{
    position: relative;
   background-color: rgb(94, 181, 50);
    height: 0.5px;
    width: 100%;
    margin-left: 30px;
}

.hr2{
    position: relative;
   background-color: rgb(70, 181, 50);
    height: 0.5px;
    width: 100%;
    margin-left: 30px;
    top: 190px;
}



.allhero-cont-price{
   
    background-color: rgb(227, 238, 250);
    height: 100px;
    width: 100%;
    color: rgb(10, 40, 117);
    margin-left: 30px;
    margin-top: 20px;

    

}

.allhero-cont-price a{
   
    
    color: rgb(27, 42, 48);;
    

    

}

.allhero-cont-price h1{
   position: relative;
   margin-top: -13px;
    font-size: xx-large;
   margin-left: 143px;
    font-weight: 400;
   color: rgb(10, 40, 117);
}

.allhero-cont-price i{
   position: relative;
    bottom: -7px;

    margin-left: 130px;
    color: rgb(10, 40, 117);
 }

 .allhero-cont-price p{
    position: relative;
    font-size: xx-large;
    margin-left: 0px;
    top: 40px;
    color: rgb(10, 40, 117);
    font-weight: 400;
 }


 .allhero-cont-price pi1{
    position: relative;
    font-size: large;
    margin-left: -130px;
   top: -8px;
    color: rgb(10, 40, 117);
    font-weight: 400;
 }

 .allhero-cont-price p-dot{
    position: relative;
    font-size: x-large;
    margin-left: 7px;
   top: -3px;
   color: rgb(10, 40, 117);
    font-weight: 400;
 }





.allhero-cont-head p{
   
    
    color: rgb(50, 142, 181);
    

}


.offer a{
   
    font-size: large;
    color: rgb(0, 0, 0);
    

}






.buy-but{
    background-color: rgb(47, 152, 47);
    height: 50px;
    width: 200px;
    border-radius: 2rem;
    position: relative;
    top: 80px;
    left: 45px;
    color: white;
    font-size: large;
}

.buy-but2{
    background-color: rgb(47, 112, 152);
    height: 50px;
    width: 200px;
    border-radius: 2rem;
    position: relative;
    top: 140px;
    left: -158px;
    color: white;
    font-size: large;
}


.end{
    position: relative;
    top: 1000px;
}

.end a{
    top: 1px;
}



.he{
    position: relative;
    top: -450px;
}

.many-more{
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: rgb(25, 87, 114);
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top: 100px;
    padding-top: 20px;
}


#of3{
    color: green;
}

.ab-cont{
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: rgb(3, 35, 84);
  position: relative;
  left: 300px;

}

.pro{
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
  
  margin-left: -10px;


}